body {
	max-width: 700px;
	margin: 0 auto;
	text-transform: uppercase;
	position: relative;
}

.user-score {
	position: absolute;
width: 100px;
top: 0;
right: 0;
text-align: center;
}

.answer {
	display: block;
	cursor: pointer;
}

.btn {
	background-color: #eee;
	border-radius: 25%;
	cursor: pointer;				
}
	.btn:hover {
		background-color: #ddd;
	}
	.btn:active {
		background-color: #999;
	}

.questions {
	max-width: 600px;
}

.score-result {
	font-weight: bold;
}

.congratulations-block {
	text-align: center;
}

.congratulations-block b {
	display: block;
	color: #5f8;
}