extends layout

block content
	div.wrapper 
		header
			h1.title= title

		form(method="post" action="create-new-question-route" class="new-quiz-form")
			fieldset
				label
					span.lable-text Enter question into: 
					input(type="text" name="new-question-text" placeholder="Question" required class="question-input-text white-input")
			

			fieldset.create-question-choices-container
				h3 Enter choices:
				ul.choices-container

			div.question-editor-controls
			button(id="add-choice-controller" class="button") Add choice
			input(type="submit" value="Save question end exit" class="button")