/*---------------reset css----------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------bace styles---------------*/

body {
  padding: 50px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #E2E2E2;
  color: #193441;
  min-width: 220px;
}

.main-nav {
	text-align: center;	
}

.title {
	font-size: 3em;
	margin-bottom: 10px;
	text-align: center;
}

.nav-button {
	display: inline-block;
	width: calc(50% - 20px);
	box-sizing: border-box;
	text-align: center;
	padding: 13px 0;
	text-decoration: none;
	background: #5C9CA8;
	color: white;
	font-weight: bold;
	margin: 5px;
	transition: all .3s ease-in-out;
}

	.nav-button:hover {
		background: #4E8693;		
	}

.button {
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	padding: 13px 15px;
	text-decoration: none;
	background: #5C9CA8;
	color: white;
	font-weight: bold;
	transition: all .3s ease-in-out;
	border: none;
	float: left;
}
	.button:hover {
		background: #4E8693;		
	}

.white-input {
	height: 38px;
	width: 50%;
	box-sizing: border-box;
}

/*------------------home page----------------*/
.quiz-list-container {
	margin-top: 40px;		
}
	.quiz-list-ul {
		padding: 0;
	}

		.quiz-list-title {
			font-size: 1.5em;
			font-weight: bold;
		}

		.quiz-list-item {
			box-sizing: border-box;
			border-top: solid #4E8693 4px;
			background: #FFF;
			width: calc(33% - 10px);
			list-style: none;
			display: inline-block;
			margin: 5px;
			transition: all .4s ease-in-out;
			opacity: .8;
		}
			.quiz-list-item:hover {
				opacity: 1;
			}

		.quiz-list-controllers {
			box-sizing: border-box;
			background: #5C9CA8;
			max-height: 0px;
			padding: 0 5px;
			overflow: hidden;
			transition: all .3s;
		}
			.quiz-list-item.active > .quiz-list-controllers {
				max-height: 100px;
			}

			.quiz-list-controllers a {
				display: inline-block;
				color: white;
				text-decoration: none;
				padding: 5px;
				transition: background .5s;
			}
				.quiz-list-controllers a:hover {
					background: #4E8693;
				}

			.quiz-list-controllers a+a {
				margin-left: 5px;
			}

		.quiz-list-item-title {
			font-size: 1.2em;
			color: #558A9C;
			text-decoration: none;
		}
		
		.quiz-list-info-container {
			padding: 10px 5px;
		}

		.quiz-list-description {
			display: block;
		}

		.quiz-list-description:before {
			content: 'Description: '
		}

		.quiz-list-description, .quiz-list-count {
			font-size: .9em;
		}

		.quiz-list-count {
			display: block;
		}

		.quiz-list-count:before {
			content: 'Number of questions: ';
		}
/*----------------create quiz page------------------*/
	.new-quiz-form {
		width: 600px;
		margin: 0 auto;
		overflow: hidden;
	}

	.mail-box {
		display: inline-block;
		width: 20%;
		box-sizing: border-box;
	}
		.mail-box.valid {
			color: green;
		}

		.mail-box.invalid {
			color: red;
		}

	.label-with-input {
		display: block;
		position: relative;
	}

	.label-with-input+.label-with-input {
		margin-top: 15px;	
	}

	.lable-text {
		font-size: 1.2em;
		display: inline-block;
		width: 25%;
	}

/*---------------create question page-------------------*/


@media screen and (min-width: 701px) and (max-width: 1024px) {
	.quiz-list-item {
		width: calc(50% - 15px);
	}
}

@media screen and (max-width: 700px) {
	.nav-button {
		display: block;
		width: calc(100% - 10px);	
	}

	.quiz-list-item {
		width: calc(100% - 10px);
	}
}