<section class="wrapper-create-quiz active-section">
	<header>
		<h1 class="title">{{title}}</h1>
	</header>
	<form action="create-new-quiz-post" method="post" class="new-quiz-form" name="new-quiz-form">
		<label class="label-with-input">
			<span class="lable-text">Quiz title:</span>
			<input type="text" name="new-quiz-title" placeholder="quiz-title" required="" class="new-quiz-title white-input">
			<span class="mail-box"></span>
		</label>
		<label class="label-with-input">
			<span class="lable-text">Quiz description:</span>
			<input type="text" name="new-quiz-description" placeholder="quiz-description" class="new-quiz-description white-input">
		</label>
		<input type="button" class="create-quiz-sublim-button button" value="Create">
	</form>
</section>