.answers {
	display: none;
}

.answers.active {
	display: block;
}

.status-message {
	color: red;
}

body {
	background: #333;
	font-family: Verdana;
	min-width: 730px;
	color: #1BBC9B;
}

h1 {
	color: white;
	font-size: 35px;
	text-align: center;
	padding: 10px;
	width: 100%;
	background: #1BBC9B;
	font-weight: 900;
}

h2 {
	margin-top: 1%;
	font-size: 25px;
	text-align: center;
}

.form-question-content {
	display: none;
}

.question-creator {
	width: 86%;
	margin-top: 3%;
	margin-left: 6%;
	margin-right: 6%;
	padding: 1%;
	background: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 0px 26px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 0px 26px 0px rgba(0, 0, 0, 0.75);
}

.questions {
	margin-top: 1%;
}

.answers {
	margin-top: 1%;
	background: white;
	padding: 1%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.answers p {
	margin-bottom: 20px;
	
}

.question-content, .answer-content, .quiz-title {
	border: 2px dotted #1BBC9B;
	border-radius: 5px;
	height: 23px;
	width: 400px;
	margin-top: 1%;
	color: #333;
	padding-left: 5px;
}

.question-content:focus, .answer-content:focus,
.question-content-submit, .answer-content-submit,
.save, .quiz-title {
	outline: none;
}

.question-content-submit, .answer-content-submit {
	border: 2px dotted #1BBC9B;
	background: transparent;
	color: #1BBC9B;
	height: 28px;
	border-radius: 5px;
	margin: 1%;
	cursor: pointer;
	transition: 0.5s all;
}

.question-content-submit:hover, .answer-content-submit:hover {
	background: #1BBC9B;
	color: white;
	border: 2px solid #1BBC9B;
}

.answer-content-submit {
	margin-left: 0;
	margin-top: 1%;
}

.save {
	background: #1BBC9B;
	border: 0px;
	height: 45px;
	width: 100%;
	border-radius: 5px;
	color: white;
	margin-top: 1%;
	cursor: pointer;
	transition: 0.5s all;
}

.save:hover, .reset-all:hover {
	background: transparent;
	border: 2px dotted #1BBC9B;
	color: #1BBC9B;
}

.show, .upload {
	width: 86%;
	margin-left: 7%;
	margin-right: 7%;
	margin-top: 1%;
	height: 40px;
	border-radius: 5px;
	cursor: pointer;
	background: transparent;
	border: 2px dotted #1BBC9B;
	color: #1BBC9B;
	transition: 0.5s all;
}


.show:hover, .upload:hover {
	background: #1BBC9B;
	color: white;
}



.answers {
	display: none;
}

.answers.active {
	display: block;
}

.reset-all {
	border: 0px;
	border-radius: 5px;
	background: #1BBC9B;
	height: 40px;
	width: 100%;
	color: white;
	margin-right: 25px;
	margin-top: 1%;
	cursor: pointer;
	transition: 0.5s all;
}

.delete-choice {
	border-radius: 5px;
	height: 20px;
	width: 50px;
	color: #D24D57;
	text-decoration: none;
	font-family: monospace;
	font-size: x-large;
	font-weight: 900;
}

input[type="radio"] {
padding: 10px;
	height: 12px;
	width: 12px;
	cursor: pointer;
}